{% extends 'base.html.twig' %}

{% block title %}Hello EvalController!{% endblock %}

{% block body %}
<div class="eval-container">

	<h1 class="title">LISTE EVALUATION TRIMESTRIELLE</h1>
	<div class="inner-container">
		<div class="buttons d-flex justify-content-around my-3">
			<a href="javascript:add()" class="btn btn-dark">Creer</a>
			<a href="javascript:show()" class="btn btn-primary">Afficher</a>
			<a href="javascript:modify()" class="btn btn-success">Modifier</a>
			<a href="javascript:saisirNote()" class="btn btn-warning">Saisie note et appreciation</a>
			<a href="javascript:supprimer()" class="btn btn-danger">Supprimer</a>
		</div>


		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="bg-dark">
					<tr class=" bg-danger inside bg-black">
						<th class="bg-black w5"></th>
						<th class="bg-black col-1 ">ANNEE SCOLAIRE</th>
						<th class="bg-black col-1 ">TRIMESTRE</th>
						<th class="bg-black col-3">N° EVALUATION</th>
						<th class="bg-black col-1 ">DATE EVALUATION</th>
						<th class="bg-black col-3 ">FORMATEUR</th>
						<th class="bg-black col-1 ">CLASSE</th>
						<th class="bg-black col-2 ">MATIERE</th>
					</tr>
				</thead>
				<tbody id="tbody_eval">
					{% for evaluation in evaluations %}
					<tr class="text-center">
						<td><input type="checkbox" class="form-check-input" name="check" id="{{evaluation.id}}"
								value="{{evaluation.id}}" onclick="onlyOne(this)"></td>
						<td>{{evaluation.trimestre.anneescolaire.code}}</td>
						<td>{{evaluation.trimestre.libelle}}</td>
						<td>{{evaluation.numero}}</td>
						<td>{{ evaluation.dateEvaluation|date('Y-m-d') }}</td>
						<td>{{ evaluation.individu.nom ~ ' ' ~ evaluation.individu.prenom }}</td>
						<td>{{evaluation.individu.classe.libelle}}</td>
						<td>{{evaluation.matiere.libelle}}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot id="tfooter_eval">
					<tr class="">
						<th colspan="12" class="bg-black text-center">Total:</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
{% block script %}
<script>
	const add = () => {
		const url = "{{path('app_eval_new',{'id':0})}}";
		document.location.href = url;
	}


	const saisirNote = () => {
		let id = getIdChecked('check');
		if (id == 0) {
			alert('Please select line to modify note of eleve');
		} else {
			const url = "{{ path('app_saisir_note',{'id':'placeholder'}) }}";
			const newUrl = url.replace('placeholder', id);
			document.location.href = newUrl;
		}

	}
</script>
{% endblock %}
{% endblock %}