{% extends "base.html.twig" %}

{% block body %}
	<div id="" class=" d-flex justify-content-center mt-4">
		<div class="w-50 bg-light shadow-lg p-3">
			<h1 class="title text-dark" id="client">Detail Individu</h1>
			<a href="" id="modal_close">
				<i class="fa fa-close"></i>
			</a>
			<form action="" method="post" class="text_center">
				<div class="zone_saisie my-2 row">
					<label for="" class="lab20 fw-bold col-12 col-md-3">Matricule</label>
					<input type="text" value="{{individu.numeroMatricule}}" class="form-control w-50" {{disabled}}>
				</div>
				<div class="zone_saisie my-2 fw-bold row ">
					<label for="numClient" class="col-12 col-md-3">NOM</label>
					<input type="text" class="form-control w-50" value="{{individu.nom}}" {{disabled}}>
				</div>
				<div class="zone_saisie my-2 fw-bold row ">
					<label for="nomClient" class="col-12 col-md-3">PRENOM</label>
					<input type="text" class="form-control w-50" value="{{individu.prenom}}" {{disabled}}>
				</div>
				<div class="zone_saisie my-2 fw-bold row ">
					<label for="nomClient" class="col-12 col-md-3">ADRESSE</label>
					<input type="text" class="form-control w-50" value="{{individu.adresse}}" {{disabled}}>
				</div>
				<div class="zone_saisie my-2 fw-bold row ">
					<label for="nomClient" class="col-12 col-md-3">TELEPHONE</label>
					<input type="text" class="form-control w-50" value="{{individu.telephone}}" {{disabled}}>
				</div>
				<div class="zone_saisie my-2 fw-bold row ">
					<label for="" class="col-12 col-md-3">Classe</label>
					<input type="text" class="form-control w-50" value="{{individu.classe.libelle}}" {{disabled}}>
				</div>
				<div class="zone_saisie my-2 fw-bold row ">
					<label for="" class="col-12 col-md-3">Role
					</label>
					<input type="text" class="form-control w-50" value="{{individu.typeindividu.libelle}}" {{disabled}}>
				</div>
				<div class=" d-flex justify-content-center mt-4">
					<a href="{{path('app_individu')}}" class="btn btn-secondary">Fermer</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
